<!DOCTYPE html>

<html>
  <head>
	  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- IE compatibility -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- mobile screen conf -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Squada+One&display=swap" rel="stylesheet">

    <!--
   	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> -->

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <!-- <link href="{{ url_for('static', filename='css/grid_display.css') }}" rel="stylesheet">-->
   	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- BARRE DE NAVIGATION   -->
    <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark justify-content-between flex-md-nowrap m-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="">ALEXIS MATHON</a>
        <ul class="nav navbar-nav col-auto ">
          <li class="nav-item active"> <a class="nav-link" href="/index">HOME<span class="sr-only">(current)</span></a> </li>
          
          <li class="nav-item"> <a class="nav-link" href="/blog" tabindex="-1" aria-disabled="true">BLOG</a> </li>
          <li> <a class="nav-link" href="#">PROJETS</a> </li>
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/Me">A PROPOS DE MOI</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/Me">Le Consultant</a>
              <a class="dropdown-item" href="/CVdata">Le Data Analyst</a>
              <a class="dropdown-item" href="/CVdev">Le Développeur</a>
              <!--<div class="dropdown-divider"></div>-->
              <a class="dropdown-item" href="/CVeng">L'Ingénieur</a>
            </div>
          </li>
        </ul>
    </nav>

    <!-- BODY SECTION  -->

    {% block content %}{% endblock %}

    <!-- ============  -->

    <footer class="text-center">
        <div class="footer-below">
            <div class="container blocgenerique">
                <div class="row">
                    <div class="col-lg-12">
                        <p><a href="https://github.com/Mathonal"> <img src="{{ url_for('static', filename='img/github.png') }}" alt height="40" ></a>
                        <a href="https://www.linkedin.com/in/alexis-mathon-49989639/"> <img src="{{ url_for('static', filename='img/linkedin.png') }}" alt height="40" ></a>
                        </p>
                        <p><span class="italic">Copyright &copy; <a href="https://www.linkedin.com/in/alexis-mathon-49989639/" target="_blank">Alexis Mathon</a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- JQUERY SCRIPT  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>  -->

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>

</html>
