      <!-- SECTION3 : Grille Experiences -->
      <div class="container blocgenerique">
        <section class="row pb-2 mb-2">
          <div class="col-12"><h2> Expériences professionnelles</h2> </div>
            <div class="col-lg-4 col-md-6">
              <div class="text-center">
                <div class="icon"> <img src="{{ url_for('static', filename='img/svg/chart-line.svg') }}" alt height="65" width="65"></div>
                <h3><strong>Trader pro</strong> (2 ans)</h3>
                <h5> compte propre</h5>
                <p> Data mining, Développeur, Machine Learning </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6"> 
              <div class="text-center">
                <div class="icon"> <img src="{{ url_for('static', filename='img/svg/cogs.svg') }}" alt height="65" width="65"></div>
                <h3><strong>Ingénieur Methode</strong> (4 ans) </h3>
                <h5>Safran Aircraft Engines</h5>
                <p>Methodiste, Consultant BE, Chef de projet & Développeur</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="text-center">
                <div class="icon"> <img src="{{ url_for('static', filename='img/svg/square-root-alt.svg') }}" alt height="65" width="65"></div>
                <h3><strong>Ingénieur Consultant Calculs</strong> (4 ans)</h3>
                <h5>Digital Product Simulation</h5>
                <p> Consultant calculs, Data Mining & Développeur </p>
              </div>
            </div> 
      </div>