    {% if type=='all' %}
      <div class="container blocgenerique">
        <div class="row">
          <div class="col-sm-8">
            <div class="col-12 pb-2 mb-2"> <h2>Du coté personnel </h2> </div>
            <div class="card-img col-md-3 col-lg-2 d-none d-md-block"><img src="{{ url_for('static', filename='img/travaux.jpg') }}" alt height="200" style='border-radius: 15px;'></div>
            <div class="text-center"> <p> <h4> fera partie d'une prochaine implémentation </h4></p> </div>
          </div>

          <div class="col-sm-4">
              <address>
              <p>Vous pouvez me contacter à cette adresse :</p>
              <strong>Mathonal@gmail.com</strong><br>

                2 residence de la Villeparc <br>
                78310 Maurepas<br>
              </address>
              <form class="card p-1">
                <legend class="card-title">Pour me contacter</legend>
                <h4 class="card-subtitle mb-2 text-muted">Comment m'avez-vous trouvé ?</h4>
                <fieldset>
                  <div class="radio">
                    <label for="ami" class="radio">
                      <input type="radio" name="origine" value="ami" id="ami">
                      Par un CV papier 
                    </label>
                  </div>
                  <div class="radio">
                    <label for="web" class="radio">
                      <input type="radio" name="origine" value="web" id="web">
                      Sur le web 
                    </label>
                  </div>
                  <div class="radio">
                    <label for="hasard" class="radio">
                      <input type="radio" name="origine" value="hasard" id="hasard">
                      Par hasard 
                    </label>
                  </div>
                  <div class="radio">
                    <label for="autre" class="radio">
                      <input type="radio" name="origine" value="autre" id="autre">
                      Autre... 
                    </label>
                  </div>
                  <label for="textarea">Votre message :</label>
                    <textarea id="textarea" class="form-control" rows="4"></textarea>
                    <p class="help-block">Vous pouvez agrandir la fenêtre</p>
                  <button class="btn btn-primary" disabled type="submit">Envoyer</button>
                </fieldset>
              </form>
          </div>
        </div>
      </div>
    {% endif %}