    <!-- SECTION PRINCIPALE PESENTATION  -->
    <div class="container blocgenerique">
      <section class="row" style="height: 55px;"> </section><!-- Empty box  -->
      <!-- part 1 : PRESENTATION  -->
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 mt-50 border-bottom border-white">
        <div class="col-6 col-md-8 nametitle"><h1><strong>Alexis Mathon</strong></h1>
          <h2> 
              {% if type == 'Data' %} <span class="badge badge-danger"><strong>Data Analyst</strong></span> {% else %} <a href="/CVdata">Data Analyst</a> {% endif %}/
              {% if type == 'Dev' %} <span class="badge badge-warning"><strong>Développeur</strong></span> {% else %} <a href="/CVdev">Développeur</a> {% endif %}/ 
              {% if type == 'Eng' %} <span class="badge badge-info"><strong>Ingénieur</strong></span> {% else %} <a href="/CVeng">Ingénieur</a> {% endif %}
          </h2>
          <div class="icontitle col-md-1 d-none d-md-block"> <img src="{{ url_for('static', filename='img/svg/click.svg') }}" alt height="40" width="40"></div>
        </div>
        <div class="icontitle col-6 col-md-3 col-lg-2 align-items-end">
          <a href="https://github.com/Mathonal"> <img src="{{ url_for('static', filename='img/github.png') }}" alt height="40" ></a>
          <a href="https://www.linkedin.com/in/alexis-mathon-49989639/"> <img src="{{ url_for('static', filename='img/linkedin.png') }}" alt height="40" ></a>
        </div>
        <div class="card-img col-md-3 col-lg-2 d-none d-md-block"><img src="{{ url_for('static', filename='img/id1.png') }}" alt="id" style='border-radius: 15px;'></div>
      </div>

        <!-- SECTION 1 part 2 : texte presentation   -->
        {% if type=='Data' %}
        <div class="row d-flex col-lg-12 pb-2 mb-3">
            <div class="text-center">
                Détenteur de la <p><h5><strong>Certification professionnelle n°3067 : BigData et processus décisionnel</strong></h5><br>
                Je suis familiarisé avec le règlement général sur la protection des données <strong>(RGPD)</strong>, les solutions de receuils, stockages, analyses & visualisation de données, ainsi que les méthodes de projets <strong>AGILE</strong>.<br>
                Cela me permet d’être pertinent dans un large pannel d'architecture, de processus et d'outils du marché <strong>DATA & BIGDATA</strong></p>

                <p>Récoltes et streaming : <strong>API, ETL, Scrapping, Kafka</strong><br>
                  Nettoyages et calculs distribués : <strong>python & pandas; Spark; MapReduce&Hive</strong><br>
                  Intégrations/stockages en Lake ou Market: <strong>Hdfs, SQL, NoSQL</strong><br> 
                  Analyses de données : Python, Statistiques descriptives; </strong><br>
                  Indexation de données : <strong>Elastic Search / Kibana</strong>
                  mais aussi de créer des <strong>Data visualisations et Dashboard</strong> pertinents pour les métiers : Tableau, HTML&flask, Excel <br><br>

                Enfin, mon expérience en <strong>Data-mining</strong> dans l'ingénierie / le trading et mon <strong>autoformation aux outils d'intelligence artificielle</strong> me permet d'avoir plus d'un pied en Data-Science : <strong>Python & librairies Scikit Tensorflow</strong>
                </p>
            </div>
        </div>

      {% endif %}
      
      {% if type=='Dev' %}
        <div class="row d-flex col-lg-12 pb-2 mb-3">
            <div class="text-center">
                <p> Je pratique le codage et l'algorithmie depuis ma formation d'ingénieur. En fait, le besoin a toujours existé dans tout ce que je fais :<br><br>
                - Besoin de passerelles de données / parseurs / excels automatisés en simulation numérique<br>
                - Besoin d'automatiser des opérations fastidieuses et éviter les erreurs en conception & méthode<br>
                - Besoin de parser l'ensemble des données chaotiques des marchés financiers pour avoir des indicateurs fiables<br>

                Même mon besoin de modifier, ajouter, scripter, modder à toujours existé dans ma vie informatique personnelle.</p>

                <p>Mes languages de prédilection sont <strong>Python</strong> (en lien avec la data science, ou le développement web),
                <strong>HTML&CSS</strong> (Framework Bootstrap/Bulma) et <strong>.net/VB</strong> (plusieurs développements à mon actif en ingénierie)<br><br>

                J'aime apprendre de nouveaux languages & Framework, <br>mes prochains objectifs sont <strong>R</strong> (pour la data science) et <strong>Js React </strong>(pour améliorer l'aspect interface utilisateur / APIs & webbing en général)<br><br>

                Dernièrement, je développe mes compétences sur l'utilisation de <strong>plateforme Cloud</strong> (Azure / google / Amazon & Heroku) pour la publication de services/apps, les <strong>GUI sous Python </strong>(développement d'applications locales), et le Web design sous <strong>Framework Flask & Django</strong> (pour améliorer les reportings Data)
                </p>
            </div>
        </div>

      {% endif %}
      
      {% if type=='Eng' %}
      <div class="row d-flex col-lg-12 pb-2 mb-3">
            <div class="text-center">
              <p> Diplomé du <strong>génie des systèmes mécanique de l'Université de Technologie de Troyes</strong>, je me suis assez rapidement spécialisé dans la simulation numérique en mécanique, l'optimisation structurelle et le montage de workflow de calculs & utilisation d'algorithme pour explorer les domaines de conception.</p>

              <p>C'est ce domaine particulier de l'ingénierie qui m'a donné mes premières expériences de data-mining, de recherche d'insight à priori invisible et de data-visualisation/description du domaine conception.<br>

              Je suis convaincu du potentiel immense des datas en général, mais ce domaine appliqué à l'ingénierie, aux industries de plus en plus connectées et aux ligne de productions présente des prespectives de projets sans fin...

              Vous trouverez sur cette page, les domaines de compétences que je maitrise et qui peuvent fournir un certain avantage sur un projet Data couplé à de l'ingénierie.
            </div>
        </div>

      {% endif %}

      {% if type=='All' %}
        <div class="row d-flex col-lg-12 pb-2 mb-3">
            <div class="text-center">
                <p>D’origine ingénieur mécanique, puis développeur freelance ou data analyste, j'ai surtout été consultant ou rempli ce rôle pendant plus de 8 ans.

                Quel que soit le domaine, Ingénierie ou SI, pour la réalisation d'études, de pilotage/execution de projets en interne ou en détachement, en BE ou sur le terrain, le consultant doit :
                <br>
                <h5><strong>Ecouter</strong></h5>
                Le but de tout projet avant tout de répondre à un besoin ; les équipes sont humaines, avec leur niveau d'engagement et de volonté propres<br>
                <h5><strong>Etre agile</strong></h5>
                Vérifier les évolutions de projet, saisir les opportunités de faire plus, relier les points, anticiper les futurs besoins; éviter à tout prix les effets tunnels<br>
                <h5><strong>Etre dans la collaboration</strong></h5>
                Le service est par nature construit avec le commanditaire ; le but est de fournir un service utile, pratique, accepté et utilisé<br>  
                <h5><strong>Accompagner et former</strong></h5>
                Pour assurer la continuité de son propre travail<br>
                </p>
            </div>
        </div>

      {% endif %}
      </div>

<!-- 

                ma carrière et mon appétit de connaissances m’ont poussés vers l’analyse de données et le développement informatique. Avec le temps,</p> <h5><strong>Data Analyse / Développement / Ingénierie</strong><br> sont devenus mes cœurs de compétences.</h5>
                <p>Cela me permet d’être pertinent dans chaque métier, mais surtout de créer des passerelles puisqu’aucun domaine ne se suffit plus à lui-même.<br><br>
                Ces pages vous donneront un aperçu de ce que je suis.<br>
                Elles sont conçues via <strong>FLASK/Python/Bootstrap</strong> pour la partie WebDesign, avec <strong>base SQL</strong> pour l'affichage dynamique, versionné via <strong>GitHub</strong> et mises à disposition via <strong>Microsoft Azure Cloud Services</strong>

-->