{% extends 'base.html' %}

{% block content %}
 
        <!-- SECTION 1 part 2 : texte presentation   -->
        <div class="row d-flex col-lg-12 pb-2 mb-3">
            <div class="text-center">
                <p><h5><strong>Certification professionnelle n°3067 : BigData et processus décisionnel</strong></h5><br>
                Je suis familiarisé avec le règlement général sur la protection des données <strong>(RGPD)</strong>, ainsi que les méthodes de projet <strong>AGILE</strong>.</p>
                <p>Cela me permet d’être pertinent dans les processus de <strong>récoltes, nettoyages, intégrations/stockages et analyses de données</strong>,<br>
                mais surtout de créer des <strong>Data visualisations et Dashboard</strong> pertinents.<br><br>
                Enfin, mon expérience en <strong>Data-mining</strong> dans l'ingénierie et mon <strong>autoformation aux outils d'intelligence artificielle</strong> me permet d'avoir un pied en Data-Science. 
                </p>
            </div>
        </div>
      </div>

      <!-- SECTION 2 : Grille COMPETENCES  -->
      {% include 'skillgraph.html' %}
      <!-- SECTION : Compétences globales   -->
      {% if gcomplist: %} {% include 'skillglobal.html' %} {% endif %}
      <!-- SECTION4 : Missions spécifiques  -->
      {% include 'missions.html' %}

      <!-- SECTION5 : PERSONNEL / Formulaire/adresse  -->
      {% include 'persocontact.html' %}

{% endblock %}