{% extends 'base.html' %}

{% block content %}
  
        <!-- SECTION 1 part 2 : texte presentation   -->
        <div class="row d-flex col-lg-12 pb-2 mb-3">
            <div class="text-center">
            </div>
        </div>
      </div>

      <!-- SECTION 2 : Grille COMPETENCES  -->
      {% include 'skillgraph.html' %}
      <!-- SECTION : Compétences globales   -->
      {% if gcomplist: %} {% include 'skillglobal.html' %} {% endif %}
      <!-- SECTION4 : Missions spécifiques  -->
      {% include 'missions.html' %}

      <!-- SECTION5 : PERSONNEL / Formulaire/adresse  -->
      {% include 'persocontact.html' %}

{% endblock %}