{% extends 'base.html' %}

{% block content %}
 
      <!-- SECTION 1 part 2 : texte presentation   -->
      {% include 'bloc_presentation.html' %}

      <!-- SECTION 2 : Grille COMPETENCES  -->
      {% if tcomplist: %}
        {% include 'bloc_skillbars.html' %}
      {% endif %}

      <!-- SECTION : Compétences globales   -->
      {% if gcomplist: %}
        {% include 'bloc_skilldetails.html' %}
      {% endif %}

      <!-- SECTION : Grille Experiences -->
      {% if type == 'All' %}
        {% include 'bloc_jobhistory.html' %}
      {% endif %}

      <!-- SECTION4 : Missions spécifiques  -->
      {% include 'bloc_xptable.html' %}
      <!-- SECTION5 : PERSONNEL / Formulaire/adresse  -->
      {% include 'bloc_persocontact.html' %}

{% endblock %}