      <!-- SECTION : Compétences globales   -->
      <div class="container blocgenerique">
        <section class="row">
            <div class="row col-12 pb-2 mt-2">
              <div class="icontitle col-md-1 d-none d-md-block"> <img src="{{ url_for('static', filename='img/svg/users-cog.svg') }}" alt height="40" width="40"></div>
              <div class="col-md-11"><h2> Compétences transverses </h2> </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="generalcompetenceblock text-center">
                <h4>Audit de Processus</h4>
                <p>Comprendre et analyser avec précision les besoins d'un client. Realiser des spécifications techniques détaillées.</p>
              </div> 
             </div>
            <div class="col-lg-4 col-md-6">
              <div class="generalcompetenceblock text-center">
                <h4>Etude de faisabilité & chiffrage</h4>
                <p>Verifier la capacité des outils à remplir un besoin client; en chiffrer l'installation / l'execution.</p>
              </div> 
             </div>
             <div class="col-lg-4 col-md-6">
              <div class="generalcompetenceblock text-center">
                <h4>Pilotage projet</h4>
                <p>Suivre le developpement d'une application ou l'execution d'une étude</p>
              </div> 
             </div>
             <div class="col-lg-4 col-md-6">
              <div class="generalcompetenceblock text-center">
                <h4>Veille technologique</h4>
                <p> Tenir ses compétences à jour. Surveiller le versionnement de ses produits et ceux de la concurrence</p>
              </div> 
             </div>
            <div class="col-lg-4 col-md-6">
              <div class="generalcompetenceblock text-center">
                <h4> Présentation </h4>
                <p> Etre capable de rediger et présenter ses resultats via supports graphiques : Dashboard / powerpoint</p>
              </div> 
             </div>
            <div class="col-lg-4 col-md-6">
              <div class="generalcompetenceblock text-center">
                <h4> Formation & encadrement </h4>
                <p> Etre capable de rediger et dispenser des formations. Transmettre ses compétences </p>
              </div> 
             </div>
        </section>
      </div>