      <!-- SECTION 2 : Grille COMPETENCES  -->
      <div class="container blocgenerique">
        <section class="row">

          {% if type=='Data' %}
          <div class="row col-12 pb-2 mt-2">
            <div class="icontitle col-md-1 d-none d-md-block"> <img src="{{ url_for('static', filename='img/svg/project-diagram.svg') }}" alt height="40" width="40"></div>
          <div><h2> Compétences Data Analyse </h2> </div>
          </div>
          {% elif type=='Eng' %}
          <div class="row col-12 pb-2 mt-2">
            <div class="icontitle col-md-1 d-none d-md-block"> <img src="{{ url_for('static', filename='img/svg/users-cog.svg') }}" alt height="40" width="40"></div>
          <div><h2> Compétences Ingénierie </h2> </div>
          </div>
          {% elif type=='Dev' %}
          <div class="row col-12 pb-2 mt-2">
            <div class="icontitle col-md-1 d-none d-md-block"> <img src="{{ url_for('static', filename='img/svg/file-code.svg') }}" alt height="40" width="40"></div>
            <div>
            <h2> Compétences Développement </h2></div>
          </div>
          {% endif %}

          {% for comp in complist %}
          <div class="card-img col-6 col-sm-4 col-md-3 col-lg-2 progmf">
              <div class="label d-fl justify-content"> <span> {{comp.name}} </span> </div>
              <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: {{comp.percentvalue}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>
          {% endfor %}

          <!--<div class="card-img col-6 col-sm-4 col-md-3 col-lg-2 progmf">
              <div class="label d-fl justify-content"> <span> Spark </span> </div>
              <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>

           <div class="card-img col-6 col-sm-4 col-md-3 col-lg-2 d-none d-sm-block progmf">
              <div class="label d-fl justify-content"> <span> TensorFlow / Scikit </span> </div>
              <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div> -->

        </section>
      </div>
