
.progmf {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.generalcompetenceblock {
  border: 1px solid black;
  border-radius: 25px;
  padding: 30px 30px;
  margin-bottom: 30px;
  height: 200px;
  background-color: rgba(255, 255, 255, .7);
}

.blockimg {
  border-radius: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  font-family: "Open Sans", "Roboto", sans-serif;
  color: white;
  background-image: url("../img/green-computer.jpg");background-size: cover;
  /*background-color: red;*/
}

.blocgenerique {
	background-color: rgba(255, 255, 255, .7);
  border-radius: 10px; /*10*/
	color: black;
	padding-top: 1rem;padding-bottom: 1rem;margin-top : 1rem;margin-bottom: 1rem;
}

.titlecontainer {
  padding-top: 4rem;padding-bottom: 4rem;margin-top : 2rem;margin-bottom: 2rem;
}

.hidden {
  display: none;
  visibility: hidden;
}

.icon {height: 80px;padding-bottom:1rem;}
.icontitle {height: 40px;padding-bottom:1rem;}

[class*="progress-bar"] {background-color: #343a40;}

caption {caption-side: top; color: inherit; }

/* FONTS */
table {
  font-family: "Roboto", sans-serif;
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif;
  color: inherit;
}

p {
  font-family: "Open Sans", "Sofia-pro", "Roboto", sans-serif;}


.bigtitle {
  font-family: "Squada One", sans-serif;
  color: white;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  /*font-size: 200%;*/
  font-size: 2.5rem;
  text-align: center;
} 

.nametitle {
  font-family: "Squada One", sans-serif;
  color: black;
} 

/* ============ blog css test =========   */

.blogmd {
  text-align: justify;
}

.blogmd strong{
  font-weight: bold;
}

.blogmd h1, h2, h3, h4, h5 {
  /*font-family: "Open Sans", sans-serif;*/
  font-family: "Oswald", sans-serif;
  /*color: white;*/
  font-weight: bold;
}

.blogmd h2 {
  /*font-family: "Open Sans", sans-serif;*/
  color: #006666;
  font-weight: bold;
}

.blogmd blockquote {
  border-left: 3px solid black;
  padding-left: 1rem;
}

.blogmd pre, code {
  font-family: Menlo, Monaco, "Courier New", monospace;

}

.blogmd pre {
  padding: .5rem;
  line-height: 1.25;
  overflow-x: scroll;

  background-color: #aea8a8;
  /*text-indent: 20px;*/
}

.blogmd code {
  /* color : #5b3ee8;*/
  font-weight: bold;
}


/* ============CARD WRAPPERS =========   */
.card-wrapper {
  margin-bottom: 30px;
}
.card-image .card .card-img-wrapper {
  height: 100%;
}
.card-image .card .card-body {
  display: none;
}
.card-image-title-description .card .card-img-wrapper {
  max-height: 160px;
}
.card-image-title-description .card {
  position: relative;
  min-height: 300px;
}
.card-image-title-description .card .card-body {
  height: auto;
  position: relative;
  top: 0;
  margin-bottom: -70px;
}
.card-image-title-description .card:hover .card-body {
  top: -70px;
}
.card-image-title-description .card .card-body .card-title {
  margin-bottom: .75rem;
}
.card {
  display: inline-block;
  position: relative;
  overflow: hidden;
  min-height: 300px;   /*min-height: 400px;*/
  height: 100%;
}
.card:hover {
  box-shadow: 8px 12px 31px -10px #ab98ab;
}
.card-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%; /*height: 50%;*/
  overflow: hidden;
}
.card-img-wrapper img {
  transition: 1.5s ease;
}
.card:hover .card-img-wrapper img {
  transform: scale(1.15);
}
.card-body .card-title {
  margin-bottom: calc(50% + 20px);
  transition: 1.5s ease;
}
.card:hover .card-body .card-title {
  margin-bottom: .75rem;
}

.card-title {
  font-size : 1rem;
}

.card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%; /*height: 50%;*/
  background-color: #fff;
  transition: 1.5s ease;

  color: black;
}
.card-content {
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  transition: 1.5s ease;


}
.card:hover .card-body {
  height: 80%;
}
.card:hover .card-content {
  bottom: 0;
}
body {
  margin: 0;
  /*background-image: linear-gradient(to right, #ECE9E6 , #FFFFFF);*/
}

/* ============ Progress BARS =========   */

.progress-title{
    font-size: 18px;
    font-weight: 700;
    color: #1c2647;
    margin: 0 0 10px;
}
.progress{
    height: 20px;
    background: #fff;
    border-top: 3px solid #1c2647;
    border-bottom: 3px solid #1c2647;
    border-radius: 0;
    margin-bottom: 25px;
    overflow: visible;
    position: relative;
}
.progress:before,
.progress:after{
    content: "";
    width: 3px;
    background: #1c2647;
    position: absolute;
    top: 0;
    left: -2px;
    bottom: 0;
}
.progress:after{
    left: auto;
    right: -2px;
}
.progress .progress-bar{
    border: none;
    box-shadow: none;
    -webkit-animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
    animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
}
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}

.progress-bar-warning {background-color: #f0ad4e;}
.progress-bar-danger {background-color: #f2545b;}
.progress-bar-info {background-color: #2e9dc2;}
.progress-bar-clear {background-color: #97c513;}


/* Responsives stuffs */

@media (max-width: 540px) {
        .hidden-mobile {
          display: none;
        }
        .titlecontainer {
          padding-top: 0.5rem;padding-bottom: 0.5rem;
        }
        .card-title {
        font-size : 1.75rem;
        }
        html{font-size: 70%;}
      }

/* ---------------- */