      <!-- SECTION 2 : Grille COMPETENCES  -->
      <div class="container blocgenerique">
        <section class="row">
          <div class="row col-12 pb-2 mt-2">
            <div class="icontitle col-md-1 d-none d-md-block"> <img src="{{ url_for('static', filename='img/svg/project-diagram.svg') }}" alt height="40" width="40"></div>
          <div><h2> Compétences Ingénierie </h2> </div>
          </div>
          <div class="card-img col-6 col-sm-4 col-md-3 col-lg-2 progmf">
              <div class="label d-fl justify-content"> <span> CATIA / GDT </span> </div>
              <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>

          <div class="card-img col-6 col-sm-4 col-md-3 col-lg-2 progmf">
              <div class="label d-fl justify-content"> <span> Nastran </span> </div>
              <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>
   
          <div class="card-img col-6 col-sm-4 col-md-3 col-lg-2 progmf">
              <div class="label d-fl justify-content"> <span> Abaqus </span> </div>
              <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>
   
           <div class="card-img col-6 col-sm-4 col-md-3 col-lg-2 progmf">
              <div class="label d-fl justify-content"> <span> ANSA Pre-processor </span> </div>
              <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>

           <div class="card-img col-6 col-sm-4 col-md-3 col-lg-2 d-none d-sm-block progmf">
              <div class="label d-fl justify-content"> <span> Optistruct </span> </div>
              <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>

           <div class="card-img col-6 col-sm-4 col-md-3 col-lg-2 d-none d-md-block progmf">
              <div class="label d-fl justify-content"> <span> Isight </span> </div>
              <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>
          <div class="card-img col-6 col-sm-4 col-md-3 col-lg-2 d-none d-md-block progmf">
              <div class="label d-fl justify-content"> <span> Genesis </span> </div>
              <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>
           <div class="card-img col-6 col-sm-4 col-md-3 col-lg-2 d-none d-md-block progmf">
              <div class="label d-fl justify-content"> <span> VisualDoc </span> </div>
              <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>
        </section>
      </div>
