      <!-- SECTION 2 : Grille COMPETENCES  -->
      <div class="container blocgenerique">
        <section class="row">
          <div class="row col-12 pb-2 mt-2">
            <div class="icontitle col-md-1 d-none d-md-block"> <img src="{{ url_for('static', filename='img/svg/file-code.svg') }}" alt height="40" width="40"></div>
            <div>
            <h2> Compétences Développement </h2></div>
          </div>
          <div class="card-img col-6 col-sm-4 col-md-3 col-lg-2 progmf">
              <div class="label d-fl justify-content"> <span> Python </span> </div>
              <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>

          <div class="card-img col-6 col-sm-4 col-md-3 col-lg-2 progmf">
              <div class="label d-fl justify-content"> <span> Unix Shell </span> </div>
              <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>
   
          <div class="card-img col-6 col-sm-4 col-md-3 col-lg-2 progmf">
              <div class="label d-fl justify-content"> <span> HTML5/CSS3 </span> </div>
              <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>
   
           <div class="card-img col-6 col-sm-4 col-md-3 col-lg-2 progmf">
              <div class="label d-fl justify-content"> <span> .NET/VisualBasic </span> </div>
              <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>

           <div class="card-img col-6 col-sm-4 col-md-3 col-lg-2 d-none d-sm-block progmf">
              <div class="label d-fl justify-content"> <span> C++ </span> </div>
              <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>

           <div class="card-img col-6 col-sm-4 col-md-3 col-lg-2 d-none d-md-block progmf">
              <div class="label d-fl justify-content"> <span> JAVA </span> </div>
              <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>
          <div class="card-img col-6 col-sm-4 col-md-3 col-lg-2 d-none d-md-block progmf">
              <div class="label d-fl justify-content"> <span> CATIA Knowledge </span> </div>
              <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>
        </section>
      </div>